
.Box {
  display: flex;
  position: relative;
}

.Box.row-true {
  flex-flow: row;
}
.Box.row-wrap {
  flex-flow: row wrap;
}
.Box.col-true {
  flex-flow: column;
}

.Box.justify-center {
  justify-content: center;
}
.Box.justify-start {
  justify-content: flex-start;
}
.Box.justify-end {
  justify-content: flex-end;
}
.Box.justify-between {
  justify-content: space-between;
}
.Box.justify-around {
  justify-content: space-around;
}

.Box.align-start {
  align-items: flex-start;
}
.Box.align-center {
  align-items: center;
}
.Box.align-end {
  align-items: flex-end;
}

.Box.grow {
  flex-grow: 1;
}

.Box.even > * {
  flex: 1 1 0px;
}

.Box.ml-1 {
  margin-left: 0.15rem;
}
.Box.ml-2 {
  margin-left: 0.25rem;
}
.Box.ml-3 {
  margin-left: 0.5rem;
}
.Box.ml-4 {
  margin-left: 0.75rem;
}
.Box.ml-5 {
  margin-left: 1.0rem;
}

.Box.mr-1 {
  margin-right: 0.15rem;
}
.Box.mr-2 {
  margin-right: 0.25rem;
}
.Box.mr-3 {
  margin-right: 0.5rem;
}
.Box.mr-4 {
  margin-right: 0.75rem;
}
.Box.mr-5 {
  margin-right: 1.0rem;
}

.Box.mt-1 {
  margin-top: 0.15rem;
}
.Box.mt-2 {
  margin-top: 0.25rem;
}
.Box.mt-3 {
  margin-top: 0.5rem;
}
.Box.mt-4 {
  margin-top: 0.75rem;
}
.Box.mt-5 {
  margin-top: 1.0rem;
}

.Box.mb-1 {
  margin-bottom: 0.15rem;
}
.Box.mb-2 {
  margin-bottom: 0.25rem;
}
.Box.mb-3 {
  margin-bottom: 0.5rem;
}
.Box.mb-4 {
  margin-bottom: 0.75rem;
}
.Box.mb-5 {
  margin-bottom: 1.0rem;
}

@media (min-width: 768px) {
  .Box.row-md {
    flex-flow: row;
  }
}
@media (min-width: 992px) {
  .Box.row-lg {
    flex-flow: row;
  }
}
@media (min-width: 1200px) {
  .Box.row-xl {
    flex-flow: row;
  }
}